* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    scroll-behavior: smooth;
    font-family: Arial;
}

:root {
    --white-color: #fff;
    --blue-color: rgb(38, 0, 255);
    --light-blue: lightblue;
}

body {
    background: linear-gradient(180deg, purple, blue);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.first_heading_container {
    width: 100%;
    color: var(--white-color);
    background: #333;
    width: 95%;
    padding: 5px 20px;
    margin: 30px auto;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.first_heading_container .introduction_div {
    display: flex;
    align-items: center;
    justify-content: stretch;
    cursor: pointer;
}

.first_heading_container .menu_list_div {
    display: flex;
    align-items: baseline;
    justify-content: stretch;
    cursor: pointer;
    gap: 5px;
}

.first_img_cont > img {
    width: 50px;
    height: 50px;
}

.first_intro_div > span {
    font-size: 25px;
    font-weight: bold;
}

.menu_drawing > span {
    font-size: 20px;
}

.other_content_containers {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
}

.other_content_containers .all_parent_container {
    position: relative;
    /* top: 50px; */
    text-align: center;
    padding: 20px;
}

.first_heading_h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.first_heading_h1 > h1 {
    color: var(--white-color);
    font-size: 50px;
    width: 70%;
}

.second_heading2_or_something {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.second_heading2_or_something > p {
    line-height: 30px;
    max-width: 500px;
    font-size: 20px;
}

.first_email_input_div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.first_email_input_div input {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 400px;
    width: 500px;
    border: none;
    padding: 20px;
    border-radius: 1px;
}

.first_email_input_div input::placeholder {
    font-size: 17px;
}

.first_email_input_div button {
    flex-basis: 400px;
    flex-grow: 1;
    padding: 20px;
    color: var(--white-color);
    border: none;
    background: rgb(38, 0, 255);
    border-radius: 1px;
    cursor: pointer;
}

.trial_divs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    color: var(--white-color);
}

.trial_divs > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.trial_divs > div::before {
    content: attr(data-good);
    margin-right: 10px;
}

.open_navigations_div {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: #fff;
    padding: 20px;
    width: 300px;
    transform: translateX(300px);
    transition: transform 444ms ease;
    overflow-y: scroll;
    z-index: 1;
}

.open_navigations_div::-webkit-scrollbar {
    display: none;
}

.open_navigations_div.open_navigation {
    transform: translateX(0);
}

.exit_navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    border: 1px solid black;
    cursor: pointer;
}

.exit_navigation > span {
    font-size: 20px;
    position: relative;
    top: -2px;
}

.first_navigations {
    position: relative;
    height: 100vh;
}

.first_navigations nav ul {
    list-style: none;
    margin-top: 50px;
}

.first_navigations nav ul li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: #000;
}

.first_navigations nav ul li a div[data-rotate] {
    transform: rotate(-90deg);
}

.first_navigations nav ul li a div[data-rotate].rotate {
    transform: rotate(90deg);
}

.first_navigations nav ul li {
    border-bottom: 1px solid grey;
    margin-bottom: 30px;
}

.search_website {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    margin-bottom: 30px;
}

.search_website input {
    width: 100%;
    padding: 10px;
}

.search_website button {
    width: 100%;
    padding: 10px;
    font-weight: bold;
    border: none;
    background: rgb(38, 0, 255);
    color: var(--white-color);
    cursor: pointer;
    border-radius: 1px;
}

.login_sign_up {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    /* position: absolute;
    top: 80%;
    width: 100%; */
}

.log_in_div > button {
    width: 100%;
    background: transparent;
    border: none;
    border: 1px solid rgb(38, 0, 255);
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.sign_up_div > button {
    width: 100%;
    background: rgb(38, 0, 255);
    border: none;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    color: var(--white-color);
    cursor: pointer;
}

.multi_drop_container {
    height: 0;
    visibility: hidden;
    display: none;
}

.multi_drop_container.toggle_navigation {
    height: 100%;
    visibility: visible;
    display: block;
}

.multi_drop_container.style_navigation {
    background: rgb(38, 0, 255);
    padding: 10px;
    padding-top: 0.5px;
    border-radius: 10px;
    margin-top: 10px;
}



.multi_drop_container .multi_ul ul {
    margin-top: 20px;
}

.multi_drop_container .multi_ul ul li {
    border: none;
    border-bottom: none;
    margin-bottom: 0;
}

.multi_ul ul li a [data-rotate] {
    transform: rotate(-90deg);
} 

.multi_multi_drop_down .mult_multi_ul ul {
    list-style: circle;
    width: 100%;
    margin-left: 20px;
    color: var(--white-color);
}

#ex_multi_ul ul li:nth-child(1) {
    margin-top: 10px;
}

#ex_multi_ul ul li {
    margin-bottom: 20px;
}

.multi_multi_drop_down .mult_multi_ul ul li:not(:last-child) {
    margin-bottom: 10px;
    color: var(--white-color);
}

.multi_multi_drop_down .mult_multi_ul ul li a {
    color: var(--white-color);
}

.multi_multi_drop_down {
    display: none;
}

.multi_multi_drop_down.toggle_navigation {
    display: block;
}

.ai_chat_options {
    position: absolute;
    right: 0;
    top: 77%;
    margin-right: 20px;
}

.message_ai_option {
    width: 300px;
    position: relative;
    transform: translateY(200px);
    display: none;
    transition: transform 1s linear;
}

.message_ai_option.open_chat_options {
    transform: translateY(0px);
    display: block;
}

.exit_icon_ai {
    position: absolute;
    top: -25px;
    right: 0;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}

.text_ai_message {
    padding: 10px;
    background: #fff;
    border-radius: 5px;
}

.ai_chat_icon {
    display: table;
    width: 100%;
    position: fixed;
    right: 0;
    bottom: 0;
    margin-right: 10px;
}

.ai_chat_icon img {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.chat_icon_div_container {
    display: table-cell;
    text-align: right;
    padding: 5px;
    /* background: rgb(38, 0, 255); */
}

.cookie_banner_div {
    position: absolute;
    bottom: 0;
    /* top: 73%; */
    left: 0;
    background: linear-gradient(90deg, blue, purple);
    margin: 20px;
    border-radius: 10px;
    transform: translateY(200px);
    display: none;
    transition: transform 1s linear;
}

.cookie_banner_div.display_cookie {
    display: block;
    transform: translateY(0);
}

.cookie_banner_content {
    padding: 20px;
    width: 400px;
    color: var(--white-color);
}

.cookie_banner_buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.cookie_banner_buttons > button {
    padding: 10px 20px;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
}

.cookie_banner_buttons > button:nth-child(1) {
    background: rgb(38, 0, 255);
    border: 1px solid var(--white-color);
}

.cookie_banner_buttons > button:nth-child(2) {
    background: var(--white-color);
    color: #000;
    border: 1px solid rgb(38, 0, 255);
}

.chat_title_heading {
    position: relative;
}


.chat_body {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 350px;
    margin-bottom: 10px;
    transform: translateY(500px);
    display: none;
    transition: transform 400ms linear;
}

.chat_body.open_chat {
    transform: translateY(0);
    display: block;
}

.main_chat_content {
    border-radius: 10px;
    background-color: #fff;
}

.img_src > img {
    width: 40px;
    float: left;
    margin-right: 10px;
}

.img_title {
    padding: 20px;
}

.exit_chat_body {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    color: grey;
    cursor: pointer;
}

.real_chat_content {
    height: 300px;
    background: grey;
}

.first_closure_div {
    display: flex;
    align-items: center;
    padding: 10px;
}

.first_closure_div [contenteditable] {
    width: 90%;
}

/* .first_closure_div > input {
    width: 100%;
    padding: 10px;
    border: none;
} */

.footer_chat {
    text-align: center;
    padding: 10px;
    background-color: #f2f2f2;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.footer_chat a {
    text-decoration: none;
}

.send_img {
    position: absolute;
    right: 0;
    transform: translateX(-50%);
}

.send_img > img {
    width: 20px;
    cursor: pointer;
}




@media only screen and (max-width: 1333px) {
    .message_ai_option.open_chat_options {
        transform: translateY(50px);
        display: block;
    }
}



@media only screen and (max-width: 767px) {
    body {
        overflow-y: scroll;
    }

    .other_content_containers .all_parent_container {
        top: 0;
    }

    .first_heading_h1 > h1 {
        width: 100%;
        font-size: 25px;
    }

    .second_heading2_or_something > p  {
        width: 100%;
        max-width: 100%;
    }

    .first_email_input_div input {
        width: 100%;
    }

    .first_email_input_div button {
        width: 100%;
    }

    .first_email_input_div input::placeholder {
        font-size: initial;
    }

    .cookie_banner_div {
        width: 100%;
        margin: 0;
        top: 80%;
    }

    .cookie_banner_content {
        width: 100%;
        margin: 0;
    }

    .chat_body {
        width: 100%;
        top: 0;
    }

    .real_chat_content {
        height: 82.3vh;
    }

    .footer_chat {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .main_chat_content {
        border-radius: 0;
    }

    /* .first_email_input_div {
        flex-direction: column;
    } */
}


