@import url("all.css");

body {
    overflow: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
}

body::-webkit-scrollbar {
    display: none;
}

/* .sign_up_container {
    padding: 30px;
} */

.sign_up_full_container {
    background: var(--white-color);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    width: 1100px;
    margin: 20px auto;
    border-radius: 50px;
}

.comment_section {
    background-color: var(--light-blue);
    position: relative;
    width: 100%;
}

.logo_part_section {
    display: flex;
    justify-content: stretch;
    align-items: center;
    gap: 5px;
    font-weight: bold;
    margin: 20px;
    cursor: pointer;
}

.logo_part_section img {
    width: 30px;
}

.full_profile_description {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 90%;
}

.profile_img {
    background: var(--white-color);
    width: fit-content;
    padding: 10px;
    border-radius: 50%;
    display: table;
    text-align: center;
    float: left;
    margin-right: 10px;
}

.profile_img > img {
    width: 30px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.profile_heading {
    overflow: hidden;
}

.source_name {
    text-align: right;
    font-weight: bold;
}

.profile_description_details > p {
    line-height: 25px;
}

.signup_section {
    width: 100%;
    flex-grow: 1;
    position: relative;
    padding: 20px 30px;
}

.language_section {
    text-align: right;
}

.language_section img {
    width: 20px;
}

.language_relative_section {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
}

.language_text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}

.signup_heading_section {
    text-align: center;
    color: var(--light-blue);
}

.process_signup {
    position: relative;
    margin-top: 50px;
    margin-bottom: 100px;
}

.hr_leveling {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.hr_leveling > hr {
    height: 15px;
    border: 1px solid lightgrey;
    border-radius: 10px;
}

.loading_hr {
    width: 10%;
    background: var(--blue-color);
}

.levels_container {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.levels_container > div:nth-child(1) {
    background: var(--blue-color);
}

.levels_container > div {
    background: var(--light-blue);
    color: var(--white-color);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup_quotation {
    text-align: center;
    color: gray;
}

.div_form_element {
    margin-top: 10px;
}

/* .div_form_element > form:not(#checkbox_input) {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
} */


.div_form_element > form input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
}

#checkbox_input {
    border: 1px solid red;
    width: fit-content;
    padding: 0;
}

.checkbox_div {
    display: flex;
    align-items: center;
    justify-content: stretch;
    margin: 10px 0;
    width: 100%;
    gap: 10px;
}

.button_div {
    text-align: center;
}

.div_form_element > form input[type=submit] {
    background: var(--blue-color);
    border: none;
    outline: 1px solid var(--white-color);
    color: var(--white-color);
    border-radius: 5px;
    cursor: pointer;
}

.other_logins {
    position: relative;
    top: 20px;
}

.first_p > p {
    color: grey;
    text-align: center;
}

.other_logins_social_media {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
}

.other_logins_social_media button {
    padding: 10px 30px;
    background: var(--white-color);
    border: 1px solid grey;
    border-radius: 2px;
    cursor: pointer;
}

.other_logins_social_media img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.cookie_banner_div.openCookie {
    position: fixed;
    bottom: 0;
    left: 0;
    display: block;
    transform: translateY(0);
}



@media only screen and (max-width: 1120px) {
    .sign_up_full_container {
        width: 900px;
    }
    body {
        height: auto;
    }
}

@media only screen and (max-width: 900px) {
    body {
        height: 100vh;
    }
    .comment_section {
        display: none;
    }

    .sign_up_full_container {
        width: 100%;
    }
}

@media only screen and (max-width: 767px) {
    body {
        height: 100vh;
    }

    .sign_up_full_container {
        border-radius: 0;
    }
}